@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*:focus {
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Netflix Sans", "Helvetica Neue", "Noto Sans KR", Helvetica, Arial;
}

.container {
  background-color: #151515;
  width: 100%;
  height: 100%;
}

.menu_navigation {
  width: 100%;
  height: 80px;
  padding: 1rem 3rem;
  background-color: antiquewhite;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(60%, #151515));
  background: linear-gradient(to bottom, #000000 0%, #151515 60%);
}

.menu_navigation .logo {
  width: 80px;
}

.menu_navigation .logo a img {
  width: 100%;
}

.list_profil_container {
  margin: 2rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_profil_container .list_profil {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list_profil_container .list_profil .profil_gate_label {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  font-size: 3.5vw;
  font-weight: 400;
  letter-spacing: 1px;
}

.list_profil_container .list_profil .choose_profile {
  margin-bottom: 30px;
}

.list_profil_container .list_profil .choose_profile li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  margin: 0 5px;
  padding: .8rem;
  color: rgba(219, 208, 208, 0.753);
  font-size: 18px;
  font-weight: 400;
}

.list_profil_container .list_profil .choose_profile li:hover {
  color: white;
  font-weight: 500;
}

.list_profil_container .list_profil .choose_profile li:hover .profil_icon {
  border: 1px solid;
}

.list_profil_container .list_profil .choose_profile li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  padding: 1px;
  margin-bottom: 5px;
}

.list_profil_container .list_profil .choose_profile li div .avatar_wrapper .profil_icon {
  background: round;
  border-radius: 5px;
  width: 9rem;
  height: 9rem;
}

.list_profil_container .list_profil .choose_profile li div .profile_name {
  width: 100%;
}

.list_profil_container .profil_button a {
  color: rgba(219, 208, 208, 0.753);
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 1px solid;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.list_profil_container .profil_button a:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */